@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Raleway:400,700&display=swap');

body {
    background-color: #ffffff;
    font: normal 1em/1.5 'Roboto', arial, helvetica, serif;
}

.header-button {
    background-color: rgb(42, 42, 42);
    color: #ffffff;
}

.header-button:hover {
    background-color: white;
    color: black;
}

.header-button:active {
    background-color: black;
    color: white;
}

.header-style {
    background-color: rgb(39, 39, 39);
    position: relative;
}

.logo-img img {
    max-width: 5em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
 
.menubtn {
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.shopping-cart {
    position: absolute;
    top: 0.5em;
    right: 4em;
}

.mainmenu {
    padding: 5.5em .5em .5em 0em;
    text-align: right;
    text-decoration: none;
}

.mainmenu .menu-list {
    margin: 1em;
}

.menu-elements {
    display: inline;
}

.products-page-img {
    max-width: 100%;
    display: block;

}

.page-title {
    font-size: 1.5em;
    text-align: center;
}

.product-title {
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    margin: .5em 0;
}

.product-img {
    max-width: 100%;
}

.products {
    overflow: hidden;
    max-width: 30em;
    margin: 1em auto;
}

.product-price {
    font-size: 1.5em;
    font-weight: 700;
}

.filter-button {
    background-color: white;
    color: black;
    width: 10em;
    font-size: 1.3em;
    font-weight: 100;
}

.cart-button {
    background-color: black;
    color: white;
    width: 10em;
    font-size: 1.5em;
}

.cart-button:hover {
    background-color: #333;
}  

.cart-button:active {
    background-color: darkgrey; 
    color: #333;
}

.products .products-text {
    text-align: left;
    padding: 0 1em;
}

.pagination {
    display: inline-block;
    list-style: none;
}

.footer-style {
    background-color: rgb(39, 39, 39);
    text-align: left;
    padding: 1.5em;
}

.footer-items {
    color: #ffffff;
    padding: auto;
    max-width: 6em;
    display: block;
    margin: auto;
    text-decoration: none;
}

.footer-menu-spacing {
    padding: 8em 0 0;
}

.footer-social {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: auto;
    padding: 1em;
}

.test >li{
    display: inline;
    margin: .5em;
}

.copyright {
    padding: 1em 1em .5em;
    color: #ffffff;
}

.footer-logo-img img {
    max-width: 6em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

@media screen and (min-width: 30em) {
    .layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        padding: 1em;
    }
    
@media screen and (min-width: 60em) {
.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
}

.mainmenu > li {
    background-color: lime;
    display: inline-block;
    vertical-align: top;
    margin: 5em;
}

.test >li{
    display: inline;
    margin: 8em;
}


@media screen and (min-width: 75em) {
.layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
}



/* 
.menubar {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;

}

body {
    margin-top: 6em;
    display: inline-block;
} */